/* .App {
  text-align: center;
  margin: 20px;
}

.content {
  margin-top: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.navbar h1 {
  margin: 0;
}

.links {
  display: flex;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.links a:hover {
  text-decoration: underline;
} */

nav {
  background-color: #282c34;
  padding: 1rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #61dafb;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
}
