.details{
    float: right;
    font-size: large;
    font-weight: bold;
}

.header{
   color:blue;
   text-align: center;
}

.button{
    display:flex;
    grid-template-columns: repeat(n, 1fr);
    gap: 10px;
}

.list{
    text-align: center;
    color: blueviolet;
}

.table-head{
   text-decoration: brown;
}